* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    width: 100%;
    height: 90vh;
}
.clasemain{
    background-color: gray;
 font-size: large;

}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.contain {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: aquamarine;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);

}

.informacion p{
    color: white;
    overflow: hidden;
    display: flex;
    border-right: 0.10em solid rgb(235, 235, 235);
    white-space: nowrap;
    margin: 0 auto;
    max-width: fit-content;
    letter-spacing: 0.15em;
    animation: typing 8.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing{
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color:  rgb(235, 235, 235);
    }
}
.clasemain button{
    height: 7vh;
    width: 10em;
    margin: 1em;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    font-weight: bold;
    border: 0.3em black unset;
    padding: 0.1em;
    border-radius: 0.5em;
    text-decoration: none;
}

.clasemain button:hover{
    text-decoration: none;
    border: 0.3em black inset;
}

.informacion .texto{
    animation: typing 10.5s steps(30, end), blink-caret 0.5s step-end infinite;

}
