*{
    margin: 0;
    padding: 0;
}

.navegacion{
    /* height: 20vh; */
    display: flex;
    justify-content:space-around;
    text-align: center;

}
.nav{
    display: flex;
    width: 20%;
    right: 2em;
    height: 30vh;
    justify-content: space-between;
   position:fixed;
}

ul li a{
    color: black;
    text-decoration: none;
    background-color: rgb(228, 220, 220);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
}